@charset 'utf-8';
table {
    border: 3px solid black;
}
td {
    width: 100px;
    height: 100px;
    /* border: 1px solid black; */
    text-align: center;
    font-size: 30px;
    transition-duration: 0.5s;
}
td.selected {
    /* background-color: brown; */
    background-image: url('검.jpeg');
    background-size: 100% auto;
    background-repeat: no-repeat;
    color: white;
    font-weight: bold;
    transition-duration: 0.5s;
}